name: Lint

on:
  pull_request:

concurrency:
  group: golangci-lint-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  golangci-lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.2
