name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Build
        run: make VERSION=${{ github.ref_name }}

      - name: Create GitHub Release and upload dist
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
